@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap");
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #3f3f3f;
  --color-yellow: #ffbe0b;
  --color-orange: #fb5607;
  --color-pink: #ff006e;
  --color-purple-1: #9a60eb;
  --color-purple-2: #8338ec;
  --color-blue-1: #6fa6fd;
  --color-blue-2: #3a86ff;
  --color-link: var(--color-blue-2);
  --color-link–hover: var(--color-blue-1);
  --font-family-primary: "Work Sans", "system-ui", "sans-serif";
  --font-weight-primary-medium: 500;
  --font-weight-primary-semibold: 600;
  --font-weight-primary-bold: 700;
  --line-height-base: 1.4;
  --font-size-sm: clamp(0.8rem, 0.31vw + 0.72rem, 1.03rem);
  --font-size-base: clamp(1rem, 0.5vw + 0.88rem, 1.38rem);
  --font-size-h5: clamp(1.25rem, 0.78vw + 1.06rem, 1.83rem);
  --font-size-h4: clamp(1.56rem, 1.17vw + 1.27rem, 2.44rem);
  --font-size-h3: clamp(1.95rem, 1.74vw + 1.52rem, 3.26rem);
  --font-size-h2: clamp(2.44rem, 2.53vw + 1.81rem, 4.34rem);
  --font-size-h1: clamp(3.05rem, 3.65vw + 2.14rem, 5.79rem);
  --font-size-xl: clamp(3.81rem, 5.2vw + 2.51rem, 7.71rem);
}

._bg-black {
  background-color: var(--color-black);
}

._bg-white {
  background-color: var(--color-white);
}

._bg-gray {
  background-color: var(--color-gray);
}

._bg-yellow {
  background-color: var(--color-yellow);
}

._bg-orange {
  background-color: var(--color-orange);
}

._bg-pink {
  background-color: var(--color-pink);
}

._bg-purple-1 {
  background-color: var(--color-purple-1);
}

._bg-purple-2 {
  background-color: var(--color-purple-2);
}

._bg-blue-1 {
  background-color: var(--color-blue-1);
}

._bg-blue-2 {
  background-color: var(--color-blue-2);
}

._text-black {
  color: var(--color-black);
}

._text-white {
  color: var(--color-white);
}

._text-gray {
  color: var(--color-gray);
}

._text-yellow {
  color: var(--color-yellow);
}

._text-orange {
  color: var(--color-orange);
}

._text-pink {
  color: var(--color-pink);
}

._text-purple-1 {
  color: var(--color-purple-1);
}

._text-purple-2 {
  color: var(--color-purple-2);
}

._text-blue-1 {
  color: var(--color-blue-1);
}

._text-blue-2 {
  color: var(--color-blue-2);
}

._p-1 {
  padding: 1rem;
}

._pX-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

._pY-1 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

._pt-1 {
  padding-top: 1rem;
}

._pr-1 {
  padding-right: 1rem;
}

._pb-1 {
  padding-bottom: 1rem;
}

._pl-1 {
  padding-left: 1rem;
}

._m-1 {
  margin: 1rem;
}

._mX-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

._mY-1 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

._mt-1 {
  margin-top: 1rem;
}

._mr-1 {
  margin-right: 1rem;
}

._mb-1 {
  margin-bottom: 1rem;
}

._ml-1 {
  margin-left: 1rem;
}

._p-2 {
  padding: 2rem;
}

._pX-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

._pY-2 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

._pt-2 {
  padding-top: 2rem;
}

._pr-2 {
  padding-right: 2rem;
}

._pb-2 {
  padding-bottom: 2rem;
}

._pl-2 {
  padding-left: 2rem;
}

._m-2 {
  margin: 2rem;
}

._mX-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

._mY-2 {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

._mt-2 {
  margin-top: 2rem;
}

._mr-2 {
  margin-right: 2rem;
}

._mb-2 {
  margin-bottom: 2rem;
}

._ml-2 {
  margin-left: 2rem;
}

._p-3 {
  padding: 3rem;
}

._pX-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

._pY-3 {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

._pt-3 {
  padding-top: 3rem;
}

._pr-3 {
  padding-right: 3rem;
}

._pb-3 {
  padding-bottom: 3rem;
}

._pl-3 {
  padding-left: 3rem;
}

._m-3 {
  margin: 3rem;
}

._mX-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

._mY-3 {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

._mt-3 {
  margin-top: 3rem;
}

._mr-3 {
  margin-right: 3rem;
}

._mb-3 {
  margin-bottom: 3rem;
}

._ml-3 {
  margin-left: 3rem;
}

._p-4 {
  padding: 4rem;
}

._pX-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

._pY-4 {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

._pt-4 {
  padding-top: 4rem;
}

._pr-4 {
  padding-right: 4rem;
}

._pb-4 {
  padding-bottom: 4rem;
}

._pl-4 {
  padding-left: 4rem;
}

._m-4 {
  margin: 4rem;
}

._mX-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

._mY-4 {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

._mt-4 {
  margin-top: 4rem;
}

._mr-4 {
  margin-right: 4rem;
}

._mb-4 {
  margin-bottom: 4rem;
}

._ml-4 {
  margin-left: 4rem;
}

._p-5 {
  padding: 5rem;
}

._pX-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

._pY-5 {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

._pt-5 {
  padding-top: 5rem;
}

._pr-5 {
  padding-right: 5rem;
}

._pb-5 {
  padding-bottom: 5rem;
}

._pl-5 {
  padding-left: 5rem;
}

._m-5 {
  margin: 5rem;
}

._mX-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

._mY-5 {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

._mt-5 {
  margin-top: 5rem;
}

._mr-5 {
  margin-right: 5rem;
}

._mb-5 {
  margin-bottom: 5rem;
}

._ml-5 {
  margin-left: 5rem;
}

._p-6 {
  padding: 6rem;
}

._pX-6 {
  padding-left: 6rem;
  padding-right: 6rem;
}

._pY-6 {
  padding-bottom: 6rem;
  padding-top: 6rem;
}

._pt-6 {
  padding-top: 6rem;
}

._pr-6 {
  padding-right: 6rem;
}

._pb-6 {
  padding-bottom: 6rem;
}

._pl-6 {
  padding-left: 6rem;
}

._m-6 {
  margin: 6rem;
}

._mX-6 {
  margin-left: 6rem;
  margin-right: 6rem;
}

._mY-6 {
  margin-bottom: 6rem;
  margin-top: 6rem;
}

._mt-6 {
  margin-top: 6rem;
}

._mr-6 {
  margin-right: 6rem;
}

._mb-6 {
  margin-bottom: 6rem;
}

._ml-6 {
  margin-left: 6rem;
}

._p-7 {
  padding: 7rem;
}

._pX-7 {
  padding-left: 7rem;
  padding-right: 7rem;
}

._pY-7 {
  padding-bottom: 7rem;
  padding-top: 7rem;
}

._pt-7 {
  padding-top: 7rem;
}

._pr-7 {
  padding-right: 7rem;
}

._pb-7 {
  padding-bottom: 7rem;
}

._pl-7 {
  padding-left: 7rem;
}

._m-7 {
  margin: 7rem;
}

._mX-7 {
  margin-left: 7rem;
  margin-right: 7rem;
}

._mY-7 {
  margin-bottom: 7rem;
  margin-top: 7rem;
}

._mt-7 {
  margin-top: 7rem;
}

._mr-7 {
  margin-right: 7rem;
}

._mb-7 {
  margin-bottom: 7rem;
}

._ml-7 {
  margin-left: 7rem;
}

._p-8 {
  padding: 8rem;
}

._pX-8 {
  padding-left: 8rem;
  padding-right: 8rem;
}

._pY-8 {
  padding-bottom: 8rem;
  padding-top: 8rem;
}

._pt-8 {
  padding-top: 8rem;
}

._pr-8 {
  padding-right: 8rem;
}

._pb-8 {
  padding-bottom: 8rem;
}

._pl-8 {
  padding-left: 8rem;
}

._m-8 {
  margin: 8rem;
}

._mX-8 {
  margin-left: 8rem;
  margin-right: 8rem;
}

._mY-8 {
  margin-bottom: 8rem;
  margin-top: 8rem;
}

._mt-8 {
  margin-top: 8rem;
}

._mr-8 {
  margin-right: 8rem;
}

._mb-8 {
  margin-bottom: 8rem;
}

._ml-8 {
  margin-left: 8rem;
}

._p-9 {
  padding: 9rem;
}

._pX-9 {
  padding-left: 9rem;
  padding-right: 9rem;
}

._pY-9 {
  padding-bottom: 9rem;
  padding-top: 9rem;
}

._pt-9 {
  padding-top: 9rem;
}

._pr-9 {
  padding-right: 9rem;
}

._pb-9 {
  padding-bottom: 9rem;
}

._pl-9 {
  padding-left: 9rem;
}

._m-9 {
  margin: 9rem;
}

._mX-9 {
  margin-left: 9rem;
  margin-right: 9rem;
}

._mY-9 {
  margin-bottom: 9rem;
  margin-top: 9rem;
}

._mt-9 {
  margin-top: 9rem;
}

._mr-9 {
  margin-right: 9rem;
}

._mb-9 {
  margin-bottom: 9rem;
}

._ml-9 {
  margin-left: 9rem;
}

._p-10 {
  padding: 10rem;
}

._pX-10 {
  padding-left: 10rem;
  padding-right: 10rem;
}

._pY-10 {
  padding-bottom: 10rem;
  padding-top: 10rem;
}

._pt-10 {
  padding-top: 10rem;
}

._pr-10 {
  padding-right: 10rem;
}

._pb-10 {
  padding-bottom: 10rem;
}

._pl-10 {
  padding-left: 10rem;
}

._m-10 {
  margin: 10rem;
}

._mX-10 {
  margin-left: 10rem;
  margin-right: 10rem;
}

._mY-10 {
  margin-bottom: 10rem;
  margin-top: 10rem;
}

._mt-10 {
  margin-top: 10rem;
}

._mr-10 {
  margin-right: 10rem;
}

._mb-10 {
  margin-bottom: 10rem;
}

._ml-10 {
  margin-left: 10rem;
}

._text-left {
  text-align: left;
}

._text-center {
  text-align: center;
}

._text-right {
  text-align: right;
}

:root {
  color: var(--color-black);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-medium);
  line-height: var(--line-height-base);
}

body {
  margin: 0;
}

a,
._link {
  color: var(--color-link);
  transition: color 75ms ease-in-out;
}
a:hover,
._link:hover {
  color: var(--color-link–hover);
}

h1,
.text-h1 {
  font-family: var(--font-family-primary);
  margin-bottom: 0;
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-primary-bold);
  line-height: 1.05;
  margin-top: 0;
}

h2,
.text-h2 {
  font-family: var(--font-family-primary);
  margin-bottom: 0;
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-primary-bold);
  line-height: 1.1;
  margin-top: 0;
}

h3,
.text-h3 {
  font-family: var(--font-family-primary);
  margin-bottom: 0;
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-primary-semibold);
  line-height: 1.1;
  margin-top: 0;
}

h4,
.text-h4 {
  font-family: var(--font-family-primary);
  margin-bottom: 0;
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-primary-semibold);
  line-height: 1.25;
  margin-top: 1rem;
}

h5,
.text-h5 {
  font-family: var(--font-family-primary);
  margin-bottom: 0;
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-primary-semibold);
  line-height: 1.25;
  margin-top: 1rem;
}

p,
._text-p {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-primary-medium);
  margin-bottom: 0;
  margin-top: 0;
}
p + p,
._text-p + p {
  margin-top: 1rem;
}

small,
._text-sm {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-primary-medium);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-primary-medium);
}

._text-xl {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-primary-bold);
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
}

strong,
._text-strong {
  font-weight: var(--font-weight-primary-bold);
}

em,
._text-em {
  font-style: italic;
}

li {
  font-size: var(--font-size-base);
}

._a11y_hidden {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

._a11y_visible {
  height: initial;
  left: initial;
  overflow: initial;
  position: initial;
  top: initial;
  width: initial;
}

._container {
  --container-width: 1600px;
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 1rem;
}

input[type=text],
input[type=email],
textarea {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-primary-medium);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-primary-medium);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  color: var(--color-black);
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  text-indent: 0.75rem;
  transition: border-color 75ms ease-in-out;
}
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  border-color: var(--color-link);
  outline: none;
}

.Form {
  text-align: left;
}
.Form label,
.Form input,
.Form textarea {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
}

.Button {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-primary-medium);
  background-color: var(--color-link);
  border: 1px solid var(--color-white);
  color: var(--color-white);
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1.25rem;
  text-decoration: none;
  transition: background-color 75ms ease-in-out;
}
.Button:hover {
  background: var(--color-link–hover);
  color: var(--color-white);
}
.Button:active, .Button:focus {
  border-color: var(--color-blue-1);
}

.GlobalHeader {
  background-color: var(--color-black);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.GlobalHeader-logo {
  height: 100px;
  width: 100px;
}

.GlobalHeader-container {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 960px) {
  .GlobalHeader-container {
    align-items: center;
  }
}

.GlobalHeader-nav a {
  position: relative;
  text-decoration: none;
}
.GlobalHeader-nav a.-is-active {
  text-decoration: underline;
  text-decoration-color: var(--color-white);
}
@media (min-width: 960px) {
  .GlobalHeader-nav a.-is-active {
    text-decoration: none;
  }
}
@media (min-width: 960px) {
  .GlobalHeader-nav a::after {
    background-color: transparent;
    bottom: -0.35em;
    content: "";
    height: 2px;
    left: -5%;
    position: absolute;
    transition: background-color 150ms ease-in-out;
    width: 110%;
  }
  .GlobalHeader-nav a:hover::after, .GlobalHeader-nav a.-is-active::after {
    background-color: var(--color-white);
  }
}

.GlobalHeader-nav ul {
  align-items: end;
  display: flex;
  flex-direction: column;
}
@media (min-width: 960px) {
  .GlobalHeader-nav ul {
    align-items: center;
    flex-direction: row;
  }
}

.GlobalHeader-nav li:not(:last-of-type) {
  margin-bottom: 0.5rem;
}
@media (min-width: 960px) {
  .GlobalHeader-nav li:not(:last-of-type) {
    margin-bottom: 0;
    margin-right: 1.75rem;
  }
}

.GlobalFooter {
  background-color: var(--color-black);
  color: var(--color-white);
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
}

.Hero {
  background: linear-gradient(90deg, var(--color-purple-1) 0%, var(--color-yellow) 175%);
  background-color: var(--color-yellow);
  color: var(--color-white);
  padding: 5rem 0;
}

.Hero-description {
  font-family: var(--font-family-primary);
  margin-bottom: 0;
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-primary-semibold);
  line-height: 1.25;
  margin-top: 1rem;
  max-width: 40ch;
}

.Stack-heading {
  margin-bottom: 0.5rem;
}

.Stack-description {
  margin-bottom: 1.25rem;
}

.VerticalCards-item {
  align-items: center;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(6, 1fr);
}
.VerticalCards-item:nth-child(even) .VerticalCards-image {
  grid-column: 4/-1;
}
.VerticalCards-item:nth-child(even) .VerticalCards-content {
  order: -1;
  grid-column: 1/span 3;
}
.VerticalCards-item:nth-child(odd) .VerticalCards-image {
  grid-column: 1/span 3;
}
.VerticalCards-item:nth-child(odd) .VerticalCards-content {
  grid-column: 4/-1;
}
.VerticalCards-item:not(:last-of-type) {
  margin-bottom: 1.5rem;
}
@media (min-width: 960px) {
  .VerticalCards-item:not(:last-of-type) {
    margin-bottom: 3rem;
  }
}

.VerticalCards-image {
  max-width: 100%;
}

.HorizontalCards {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 960px) {
  .HorizontalCards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.75rem;
  }
}
@media (min-width: 1200px) {
  .HorizontalCards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.HorizontalCards-image {
  max-width: 100%;
}

.HorizontalCards-heading {
  font-family: var(--font-family-primary);
  margin-bottom: 0;
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-primary-semibold);
  line-height: 1.25;
  margin-top: 1rem;
}

.CenteredContent {
  margin-left: auto;
  margin-right: auto;
}

.CenteredContent-content.-width-narrow {
  max-width: 60ch;
}
.CenteredContent-content.-width-wide {
  max-width: 90ch;
}

.Homepage {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.StyleGuide {
  margin-bottom: 3rem;
}

.StyleGuide-heading {
  font-family: var(--font-family-primary);
  margin-bottom: 0;
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-primary-semibold);
  line-height: 1.25;
  margin-top: 1rem;
  border-bottom: 0.1em solid var(--color-purple-1);
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}
@media (min-width: 960px) {
  .StyleGuide-heading {
    margin-top: 5rem;
  }
}

.StyleGuide-subheading {
  font-family: var(--font-family-primary);
  margin-bottom: 0;
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-primary-semibold);
  line-height: 1.25;
  margin-top: 1rem;
  border-bottom: 0.05em solid var(--color-purple-2);
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding-left: 3rem;
  position: relative;
}
.StyleGuide-subheading::before {
  content: "↪️";
  display: block;
  left: 0.5rem;
  position: absolute;
  top: 0;
  width: 100%;
}

/*# sourceMappingURL=app.css.map */
