// 
// Imports
// -------

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');


// 
// Design tokens
// -------------

:root {
  // Color palette
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #3f3f3f;
  --color-yellow: #ffbe0b;
  --color-orange: #fb5607;
  --color-pink: #ff006e;
  --color-purple-1: #9a60eb;
  --color-purple-2: #8338ec;
  --color-blue-1: #6fa6fd;
  --color-blue-2: #3a86ff;

  // Applied color palette
  --color-link: var(--color-blue-2);
  --color-link–hover: var(--color-blue-1);

  // Typography
  --font-family-primary: "Work Sans", "system-ui", "sans-serif";

  --font-weight-primary-medium: 500;
  --font-weight-primary-semibold: 600;
  --font-weight-primary-bold: 700;

  --line-height-base: 1.4;

  // Ref: Perfect fourth scale 
  // 👉 https://www.fluid-type-scale.com/calculate?minFontSize=16&minWidth=400&minRatio=1.25&maxFontSize=22&maxWidth=1600&maxRatio=1.333&steps=sm%2Cbase%2Ch5%2Ch4%2Ch3%2Ch2%2Ch1%2Cxl&baseStep=base&prefix=font-size&decimals=2&useRems=on&remValue=16&previewFont=Work+Sans
  --font-size-sm: clamp(0.8rem, 0.31vw + 0.72rem, 1.03rem);
  --font-size-base: clamp(1rem, 0.5vw + 0.88rem, 1.38rem);
  --font-size-h5: clamp(1.25rem, 0.78vw + 1.06rem, 1.83rem);
  --font-size-h4: clamp(1.56rem, 1.17vw + 1.27rem, 2.44rem);
  --font-size-h3: clamp(1.95rem, 1.74vw + 1.52rem, 3.26rem);
  --font-size-h2: clamp(2.44rem, 2.53vw + 1.81rem, 4.34rem);
  --font-size-h1: clamp(3.05rem, 3.65vw + 2.14rem, 5.79rem);
  --font-size-xl: clamp(3.81rem, 5.2vw + 2.51rem, 7.71rem);

  // Border radius
  --border-radius-sm: 3px;
  --border-radius-md: 6px;
}


//
// Global
// ------

:root {
  color: var(--color-black);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-medium);
  line-height: var(--line-height-base);
}

body {
  margin: 0;
}


//
// Typography
// ----------

// Links
a {
  color: var(--color-link);
  transition: color 75ms ease-in-out;

  &:hover {
    color: var(--color-link–hover);
  }
}


// Headings
@mixin heading() {
  font-family: var(--font-family-primary);
  margin-bottom: 0;
}

@mixin h1() {
  @include heading();

  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-primary-bold);
  line-height: 1.05;
  margin-top: 0;
}

@mixin h2() {
  @include heading();

  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-primary-bold);
  line-height: 1.1;
  margin-top: 0;
}

@mixin h3() {
  @include heading();

  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-primary-semibold);
  line-height: 1.1;
  margin-top: 0;
}

@mixin h4() {
  @include heading();

  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-primary-semibold);
  line-height: 1.2;
  margin-top: 1rem;
}

@mixin h5() {
  @include heading();

  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-primary-semibold);
  line-height: 1.25;
  margin-top: 1rem;
}

h1,
.text-h1 {
  @include h1();
}

h2,
.text-h2 {
  @include h2();
}

h3,
.text-h3 {
  @include h3();
}

h4,
.text-h4 {
  @include h4();
}

h5,
.text-h5 {
  @include h5();
}

// Paragraphs
p {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-primary-medium);
  margin-bottom: 0;
  margin-top: 0;

  & + p {
    margin-top: 1rem;
  }
}

// Type sizes and decorations
small,
.text-sm {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-primary-medium);
}

.text-xl {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-primary-bold);
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
}

strong {
  font-weight: var(--font-weight-primary-bold);
}

// Lists
li {
  font-size: var(--font-size-base);
}


//
// Visibility
// ----------

._a11y_hidden {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

._a11y_visible {
  height: initial;
  left: initial;
  overflow: initial;
  position: initial;
  top: initial;
  width: initial;
}


//
// Layout
// ------

._container {
  --container-width: 1600px;

  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 1rem;
}


//
// Forms
// -----

input[type="text"],
input[type="email"] {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius-md);
  color: var(--color-black);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-primary-medium);
  padding: 0.5rem 1rem;
  transition: border-color 75ms ease-in-out;

  &:focus {
    border-color: var(--color-link);
    outline: none;
  }
}


//
// Button
// ------

.Button {
  background-color: var(--color-link);
  border-radius: var(--border-radius-md);
  color: var(--color-white);
  cursor: pointer;
  border: 1px solid var(--color-blue-2);
  display: inline-block;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-primary-medium);
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 75ms ease-in-out;

  &:hover {
    background: var(--color-link–hover);
    color: var(--color-white);
  }

  &:active,
  &:focus {
    border-color: var(--color-blue-1);
  }
}


//
// Global header
// -------------

.GlobalHeader {
  background-color: var(--color-black);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.GlobalHeader-logo {
  max-height: 100px;
  width: auto;
}

.GlobalHeader-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}


// 
// Global Footer
// -------------

.GlobalFooter {
  background-color: var(--color-black);
  color: var(--color-white);
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
}


//
// Navbar
// ------

.Navbar a {
  position: relative;
  text-decoration: none;

  &::after {
    background-color: transparent;
    bottom: -.35em;
    content: '';
    height: 2px;
    left: -5%;
    position: absolute;
    transition: background-color 150ms ease-in-out;
    width: 110%;
  }
  
  &:hover::after,
  &.-is-active::after {
    background-color: var(--color-white);
  }
}

.Navbar ul {
  align-items: center;
  display: flex;
}

.Navbar li:not(:last-of-type) {
  margin-right: 1.75rem;
}


//
// Hero
// ----

.Hero {
  background: linear-gradient(
    90deg,
    var(--color-purple-1) 0%,
    var(--color-yellow) 175%
  );
  background-color: var(--color-yellow);
  color: var(--color-white);
  padding: 5rem 0;
}

.Hero-description {
  @include h5();

  max-width: 40ch;
}


//
// Cards
// -----

.Cards {
  display: grid;
  grid-gap: .75rem;
  grid-template-columns: repeat(3, 1fr);
}


//
// Card
// ----

.Card-image {
  max-width: 100%;
}

.Card-heading {
  @include h4();

  margin-bottom: .25rem;
}

.Card-description {
  margin-bottom: 1.25rem;
}


//
// Newsletter
// ----------

.Newsletter {
  background-color: var(--color-purple-1);
  color: var(--color-white);
  padding: 5rem 0;
  text-align: center;
}

.Newsletter-heading {
  @include h3();
}

.Newsletter-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  margin-top: 1.5rem;

  > input {
    margin-right: .5rem;
  }
}

.Newsletter-description {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5rem;
  max-width: 40ch;
}


//
// Style Guide
// -----------

.StyleGuide {
  margin-bottom: 3rem;
}

.StyleGuide-heading {
  @include h5();

  border-bottom: .1em solid var(--color-purple-2);
  margin-bottom: 1.5rem;
  margin-top: 5rem;
}